<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>ID Images Recognition By AI</title>
    <style>
      * {
        text-align: center;
        font-family: 'Arial', sans-serif; /* You can replace 'Arial' with a suitable Arabic font */
      }
      body {
        padding: 20px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <h1>ID Images Uploading and Recognition By AI</h1>
    <form method="POST" action="/uploadimage" enctype="multipart/form-data">
      <label> Front Side Image:</label>
      <input
        type="file"
        name="image"
        id="image"
        accept="image/*"
        required
      />
      <input type="submit" value="Upload image" />
    </form>
    <br />
    <br />
    <form method="POST" action="/uploadback" enctype="multipart/form-data">
      